################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/EshopUp/FileContentIndex/018b3158-41f3-42bb-a656-d3d52a72bda2.vsidx
