################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/EshopUp/FileContentIndex/018b3158-41f3-42bb-a656-d3d52a72bda2.vsidx
src/.vs/EshopUp/FileContentIndex/1ce32016-76d1-4501-a864-83a83fab2879.vsidx
src/.vs/EshopUp/FileContentIndex/a3edfee9-465d-425b-bae0-0e76e84c0da7.vsidx
src/.vs/EshopUp/FileContentIndex/adac0b3c-ec2b-4710-a4cd-4faf7b0650d0.vsidx
src/.vs/EshopUp/FileContentIndex/d40d7725-5805-46ac-8e76-5df8743b7c47.vsidx
src/.vs/EshopUp/v17/.futdcache.v2
/src/.vs/EshopUp/FileContentIndex/13d3396d-2ed7-43a3-b639-16e4a0e59228.vsidx
/src/.vs/EshopUp/FileContentIndex/7538e213-b57a-4ba1-b321-4c6acce01aab.vsidx
/src/.vs/EshopUp/FileContentIndex/b5a503e3-433e-4a72-a502-4599a5d70144.vsidx
/src/.vs/EshopUp/DesignTimeBuild/.dtbcache.v2
/src/.vs/EshopUp/FileContentIndex/c27d312c-caaf-426a-beaf-b98a6d9a8a93.vsidx
/src/.vs/EshopUp/FileContentIndex/c941c6cc-6d9b-414f-bb5e-bf1e83663d69.vsidx
/src/.vs/EshopUp/FileContentIndex/162f3d4b-8a28-42aa-99d7-0e5002222cd6.vsidx
/src/.vs/EshopUp/FileContentIndex/20a2c049-f45f-48b2-aafa-07647be9bcb5.vsidx
/src/.vs/EshopUp/FileContentIndex/63a556e9-7b25-4679-9d7a-709d054d191c.vsidx
/src/.vs/EshopUp/FileContentIndex/a0581764-a7ea-40a5-b70a-39923e4c27fe.vsidx
/src/.vs/EshopUp/FileContentIndex/aaf4f698-dbf3-450f-b35d-f7052ba3027b.vsidx
/src/.vs/EshopUp/FileContentIndex/2aaa344b-06bc-44a5-9b7a-9caa7421afb2.vsidx
/src/.vs/EshopUp/FileContentIndex/5a539e99-5390-4f93-a799-f1ee95615fb7.vsidx
/src/.vs/EshopUp/FileContentIndex/7782a689-d030-4ba7-a778-969fc2fc1e0a.vsidx
/src/.vs/EshopUp/FileContentIndex/d4615724-76c3-4e69-b694-c0f59b5c24b6.vsidx
/src/.vs/EshopUp/FileContentIndex/925ddc3a-007a-4103-ad5f-14437d09da4a.vsidx
/src/.vs/EshopUp/FileContentIndex/067a571e-1220-4d2d-a134-536ed91087dd.vsidx
/src/.vs/EshopUp/FileContentIndex/611e9884-6334-4e73-a423-c9c70d0e39b3.vsidx
/src/.vs/EshopUp/FileContentIndex/da2ca1a3-e0f3-415d-be72-b9c253b70c1a.vsidx
/src/.vs/EshopUp/FileContentIndex/dd75c31d-cf0b-4b8f-a75d-97badff23385.vsidx
/src/.vs/EshopUp/FileContentIndex/1cb94303-0e53-464d-8683-7631d02719bb.vsidx
